.RteText {
  a {
      color: $blue;
  }
  a:hover {
      text-decoration: underline;
  }
  p {
    @extend .ParagraphSerif;
    margin-bottom: $u;
  }
  h1 {
    @extend .H1;
    margin-top: 3*$u;
    margin-bottom: $u;
  }
  h2 {
    @extend .H2;
    margin-top: $u;
    margin-bottom: $u;
  }
  h3 {
    @extend .H25;
    margin-top: $u;
    margin-bottom: $u;
  }
}
