$grid-column-gutter: (
  small: 12px,
  medium: 24px,
);

@import "../node_modules/foundation-sites/scss/foundation";
@import "reset";
@import "Global/**/*.scss";
@import "Modules/**/*.scss";
@import "overrideVendor";

@include foundation-flex-grid;
@include foundation-flex-video;
@include foundation-visibility-classes;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: $gray-dark;
  background-image: url('../images/bg_grey.png');
}
