.HeaderTop {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray-line;
  @include breakpoint(small only) {
    flex-direction: column;
  }
}

.HeaderTop-right {
  display: flex;
  @include breakpoint(small only) {
    flex-direction: column;
  }
}
.HeaderTop-rightItem {
  @include breakpoint(medium up) {
    margin-left: $u;
  }
  @include breakpoint(large up) {
    margin-left: 3*$u;
  }
}

.HeaderMiddle {
  @include breakpoint(medium down) {
    justify-content: center;
    text-align: center;
  }
}
.HeaderMiddle-description {
  @include breakpoint(medium down) {
    padding-top: $u !important;
  }
}
