/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.b-sidebar{
		width: 281px;
	}
	.vk__wrapper{
		width: 280px;
	}
	.b-sidebar__tape_2{
		margin: 59px -8px 17px 133px;
	}
	.b-channel__item:not(:last-child){
		padding-right: 21px;
	}
	.next_button{
		right:0px;
	}
	.prev_button{
		left:0px;
	}
	.next_arrow{
		right:0px;
	}
	.prev_arrow{
		left:0px;
	}
	.b-main{
		width: 593px;
	}
	.b-sidebar__item_wrap{
		-moz-background-size: 145% auto; 
		-o-background-size: 145% auto; 
		-webkit-background-size: 145% auto; 
		-khtml-background-size: 145% auto; 
		background-size: 145% auto;
	}
	.b-publishing__block{
		width: 280px;
	}
	.b-publishing__block_second{
		width: 280px;
	}
	.b-publishing__block_first{
		margin-right: 30px;
	}
	.b-publishing__img1{
		height: 304px;
	}
	.b-publishing__img2{
		height: 304px;
	}
	.b-upper__elem:not(:last-child){
		padding-right: 12px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.b-middle__describtion{
		width:100%;
		margin:auto;
		float: none;
		clear: both;
	}
	.b-middle__logo{
		width: 426px;
		margin:auto;
		float: none;
	}
	.b-middle__describtion_item {
	    font-size: 15px;
	    text-align: center;
	}
	.b-nav__element a{
		padding: 10px 15px;
	}
	.b-lower__headline_wrap{
		margin-top: 45px;
		margin-left: 30px;
		width: 580px;
	}
	.b-lower__headline{
		font-size: 30px;
		line-height: 1;
	}
	.b-lower__describtion{
		font-size: 12px;
	}
	.b-sidebar{
		width: 300px;
		margin-left: 68px;
	}
	.vk__wrapper{
		width: 300px;
	}
	.b-slider_item{
		width: 250px;
		margin:auto;
	}
	.b-sidebar__tape_2{
		margin-left:152px;
	}
	.b-main__show-all_projects{
		top:45px;
	}
	.b-channel__item:not(:last-child){
		padding-right: 3px;
	}
	.b-headmaster__right-block{
		max-width: 495px;
	}
	.b-headmaster__questions{
		font-size: 12px;
	}
	.b-headmaster__tel{
		font-size: 18px;
	}
	.b-main{
		width: 320px;
	}
	.b-publishing__block{
		float: none;
		width: 320px;
	}
	.b-publishing__block_first{
		margin-right: 0;
		margin-bottom: 20px;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.b-upper_right_block{
		display:none;
	}
	.b-nav__element a{
		padding: 10px 10px;
	}
	.b-header__lower_nav{
		padding:10px 0px;
	}
	.b-lower__headline_wrap{
		margin-top: 35px;
		margin-left: 30px;
		width: 460px;
	}
	.b-lower__headline{
		font-size: 24px;
		line-height: 1;
	}
	.b-upper__elem{
		width: 100%;
		float: none;
	}
	.b-upper_right_block{
		float: left;
	}
	.b-upper_left_block{
		float: none;
	}
	.b-sidebar{
		width: 281px;
		margin-left: 30px;
		float: right;
		margin-right: 6px;
	}
	.vk__wrapper{
		width: 280px;
	}
	.b-sidebar__tape_2{
		margin-left:133px;
	}
	.b-channel__item{
		padding-right: 3px;
		display: block;
		margin:auto;
		padding: 7px;
	}
	.b-headmaster{
		margin: auto 0px 0 0px; 
	}
	.b-headmaster__img{
		width: 100px;
		margin-top: 72px;
		margin-left: 4px;
	}
	.b-headmaster{
		background-position: right 176px;
	}
	.b-headmaster__right-block{
		width: 360px;
	}
	.b-headmaster__questions{
		font-size: 13px;
	}
	.b-headmaster__tel{
		color:#F08778;
		font-size: 20px; 
		float: none;
		clear:both;
	}
	.b-main{
		width: 280px;
	}
	.b-publishing__block{
		width: 280px;
	}
	.b-publishing__block_second{
		width: 280px;
	}
	.b-publishing__img1{
		height: 304px;
	}
	.b-publishing__img2{
		height: 304px;
	}
}
@media only screen and (max-width : 663px) {
	.b-main__wrapper, .b-sidebar__wrapper{
		margin: 0 -15px;
	}
	.b-main{
		margin:auto;
		float: none;
		margin-top: 39px;
		width: 320px;
	}
	.b-sidebar{
		width: 330px;
		margin:auto;
		float: none;
	}
	.vk__wrapper{
		width: 330px;
		border:2px solid #5B7FA6;
	}
	.b-slider_item{
		width: 250px;
		margin:auto;
	}
	.b-sidebar__tape_2{
		margin-left:182px;
	}
	.b-lower__left-block{
		float: none;
		text-align: center;
	}
	.b-lower__right-block{
		float: none;
		text-align: center;
	}
	.next_button{
		right:5px;
	}
	.prev_button{
		left:5px;
	}
	.next_arrow{
		right:5px;
	}
	.prev_arrow{
		left:5px;
	}
	.vk__wrapper{
		margin-bottom: 45px;
	}
	.b-publishing__block{
		float: none;
		width: 320px;
	}
}
@media only screen and (max-width : 580px) {
	.b-footer__right-block{
		float: none;
		margin-left: 25px;
	}
	.clearfix_on_580px{
		clear: both;
	}
	.b-headmaster__img{
		float: none;
		width: 150px;
		display: block;
		margin:auto;
	}
	.b-headmaster__right-block{
		width: 100%;
		float: none;
		margin-left: 0;
	}
	.b-headmaster{
		background-position: right 316px;
	}
	.b-right-block__elem{
		float: none;
	}
}
@media only screen and (max-width : 520px) {
	.b-logo__wrapper-img{
		width: 75px;
		height: 75px;
	}
	.b-logo__img{ 
		width: 100%;
	}
	.b-logo__name{
		padding-left:10px;
	}
	.b-logo__name_item1{
		font-size: 30px;
		background-position: 50% 43px;
		padding-bottom: 7px;
	}

	.b-logo__name_item2{
		font-size: 12px;
	}
	.b-middle__logo{
		width: 356px;
	}
	.b-lower__menu{
		display: block;
	}
	.b-header__lower_nav{
		position: absolute;
		padding:0px 0px;
		margin-left: -30px;
		display: none;
		padding-left: 7px;
	}
	.b-nav__element{
		float:none;
		padding:10px 18px;
	}
	.b-nav__element a{
		padding: 10px 0px;
		color:#EBEBEB;
	}
	.b-nav__element_clicked a{
		border-bottom:2px solid #F5A46D;
	}
	.b-nav__element a:hover{
		border-bottom:2px solid #F5A46D;
	}
	.b-lower__headline_wrap{
		margin:42% 0 0;
		width: 100%
	}
	.b-lower__headline{
		font-size: 30px;
		text-align: center;
		text-shadow:none;
		line-height: 1;
		color:#282828;
	}
	.b-lower__describtion_wrap{
		margin-left:0;
		width: 100%;
	}
	.b-lower__describtion{
		text-align: center;
		font-size: 12px;
		color:#565656;
		padding: 5px 15px 0;
	}
	.b-footer__right-block{
		margin-left: 10px;
	}
	.b-footer__lower{
		margin: 0 10px;
	}
	.next_button{
		right:0px;
	}
	.prev_button{
		left:0px;
	}
	.next_arrow{
		right:0px;
	}
	.prev_arrow{
		left:0px;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.b-upper__elem{
		font-size: 10px;
	}
	.b-upper_burger{
		margin-top: 1px;
	}
	.b-upper_left_block{
		width: 100%;
	}
}
@media only screen and (max-width : 405px) {
	.b-logo__name_item2{
		font-size: 9px;
		color:#999999;
		line-height: 1.2;
		text-align: center;
	}
	.b-logo__name_item1{
		font-size: 24px;
		text-align: center;
		background-position: 50% 35px;
		padding-bottom: 7px;
	}
	.b-logo__name_item1{
		font-size: 24px;
		text-align: center;
		background-position: 50% 35px;
		margin-top: -2px;
	}
	.b-logo__wrapper-img{
		width: 125px;
		height: 125px;
		float: none;
		margin:auto;
	}
	.b-middle__logo{
		float:none;
	}
	.b-logo__name{
		padding:0;
		float:none;
		margin:auto;
	}
	.b-middle__logo{
		width: 100%
	}
	.b-main{
		margin:auto;
		float:none;
	}
	.b-sidebar{
		width: 261px;
		margin:auto;
	}
	.vk__wrapper{
		width: 260px;
		border:none;
	}
	.b-slider_item{
		width: 250px;
		margin:auto;
	}
	.b-sidebar__tape_2{
		margin-left:113px;
	}
	.b-slider__name{
		font-size: 16px;
	}
	.b-footer__right-block{
		text-align: center;
	}
	.b-headmaster{
		background:none;
	}
	.b-footer__lower{
		margin: 0 0px;
	}
	.b-sidebar__item_wrap{
		-moz-background-size: 155% auto; 
		-o-background-size: 155% auto; 
		-webkit-background-size: 155% auto; 
		-khtml-background-size: 155% auto; 
		background-size: 155% auto;
	}
	.b-main{
		width: 280px;
	}
	.b-publishing__block{
		width: 280px;
		padding: 0;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.b-header__upper{
		padding: 14px 15px 0;
	}
	.b-header__middle{
		margin: 0 -15px;
	}
	.b-lower__menu{
		padding-left: 14px;
	}
}