/*BEGIN header */
.b-header__lower_content{
	background-image: none;
}
/*END header */
/*BEGIN main */
.b-main{
	width: 729px;
	padding-top: 31px;
	margin-top: 2px;
}
.b-news__img{
	background-color: #ccc;
	height: 362px;
	margin: 43px 0;
}
.b-news__title1 , .b-news__title2{
	font-family: 'PT Serif', serif;
}
.b-news__title2{
	margin-top: 33px;
}
.b-publishing__block{
	float: left;
	width: 348px;
}
.b-publishing__block_second{
	width: 352px;
}
.b-publishing__img{
	background-repeat: no-repeat;
	-moz-background-size: 100% auto; 
	-o-background-size: 100% auto; 
	float: left;
	-webkit-background-size: 100% auto; 
	-khtml-background-size: 100% auto; 
	background-size: 100% auto;
	width: 100%;
	height: 378px;
	margin-top: 25px;
}
.b-publishing__img1{
	background-image: url('../images/book1.jpg');
}
.b-publishing__img2{
	background-image: url('../images/book2.jpg');
}
.b-publishing__block_first{
	margin-right: 29px;
}
.b-block__exhibition{
	border-left:2px solid #F5A46D;
	margin:19px 0 45px;
	padding: 8px 18px 26px;
	background: #FAFAFA;
}
.b-block__headline{
	font-family:'Geometria-Bold', sans-serif; 
	font-size: 22px;
	color:#000;
}
.b-block__describtion{
	font-family: 'PT Serif', serif;
	font-size: 14px;
	color:#9F9F9F;
	margin-bottom: 23px;
}
.b-block__button{
	font-family:'Geometria-Medium', sans-serif; 
	background-color: #EE785F;
	color:#FFFDFD;
	padding: 10px 21px;
	text-align: center;
}
.b-block__button:hover{
	color:#FFFDFD;
	text-decoration: none;
}
/*END main*/
/*BEGIN sidebar */
.b-sidebar__item1{
	color:#fff;
}
.b-sidebar__item_wrap{
	background-image: url('../images/sidebar_bg.png');
	background-repeat: no-repeat;
	-moz-background-size: 120% auto; 
	-o-background-size: 120% auto; 
	-webkit-background-size: 120% auto; 
	-khtml-background-size: 120% auto; 
	background-size: 120% auto;
}
/*END sidebar */