.overflow-hidden, .clearfix {
  overflow: hidden !important;
}

.float-left,.left {
  float: left !important;
}

.float-right,.right {
  float: right !important;
}

.fixedWidth {
  max-width: 1170px;
  margin: 0 auto;
}

.fullWidth {
  width: 100%;
}

.display-flex {
  display: flex;
}

.contentPadding {
  padding-left: $u;
  padding-right: $u;
  @include breakpoint(medium up) {
    padding-left: 2*$u;
    padding-right: 2*$u;
  }
}

.position-relative {
  position: relative;
}

.overlay {
  position: relative;
}
.overlay:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 60%);
}
.overlay-contents {
  position: absolute;
  left: $u;
  right: $u;
  bottom: $u;
  z-index: 1;
}
