.overflow-hidden, .clearfix {
  overflow: hidden !important;
}

.float-left,.left {
  float: left !important;
}

.float-right,.right {
  float: right !important;
}

.fixed-width {
  max-width: 1200px;
  margin: 0 auto;
}

.displayFlex {
  display: flex;
}
